
<%- include("partials/header"); -%>

<div class="container-fluid white-background">
  <p><%=date%></p>
  <p class="text-break font-weight-bold kalam-font"><%=title%></p>
  <p class="kalam-font" >
    <%=content%>
  </p>
</div>
<%- include("partials/footer"); -%>
